form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: auto;
  margin-top: auto;
  width: 40%;
}

.login-card {
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 100px;
}

.centered {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

button {
  margin-bottom: 40px;
}

