.search-form {
  flex-direction: row;
  gap: 1rem;
  margin-top: 4rem;
  width: 100%;
  justify-content: center;
}

.search-input {
  box-shadow: none;
  font-size: 20px;
  height: 48.96px;
}

.title {
  margin-bottom: 30px;
  text-align: center;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin: auto;
  width: 80%;
}
