.search-input {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
background-color: #333738 !important;
box-shadow: none !important;
color: white;
}

.search-input::placeholder {
  color: #888;
}

.search-input:focus {
  color: white;
}

.title {
  margin-bottom: 30px;
  text-align: center;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.search-btn:disabled {
  background-color: inherit;
}

.search-btn {
  color: white;
  background-color: #6c757d;
}