.card {
  border: none;
  padding: 0;
  width: 240px;
  background-color: inherit;
  color: inherit;
}

.card-body {
  height: 124px;
  overflow: auto;
}

.card-body > p {
  font-size: 16px;
}

.card-img-top {
  border-radius: 10px;
}

.card-title {
  color: rgba(255, 255, 255, 0.705);
}